* {
    margin:0%;
    padding: 0%;
    box-sizing: border-box;
}

body {
    
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

.form {
    width: 100%;
    max-width: 32rem;
    font-size: 1.3rem;

}

.form label,
.form input,
.form button {
    display:block;
    width:100%;
}